.productInCart{
    border-color: blue;
    border-style: solid;
    margin: 7px 21px -4px 10px;
    float: left;
    width: 100%;
    height: min-content;
    font-size: xx-small;
    display: grid;
    grid-template-columns: min-content;
    /* grid-template-rows: 1fr 1fr 1fr; */
    text-align: center;
    align-items: center;
    padding: 2px;
}
