@import "~antd/dist/antd.css";

.app {
  border-color: green;
  border-style: solid;
  height: 135vh;
  margin: 10px 10px 10px 10px;
  position: relative;
}
.get_products_button{
  position: absolute;
  text-align: center;
  font-style: italic;
  font-family: monospace;
  color: orange;
  top: 13px;
  left: 14px;
  height: 23px;
  width: 110px;
  font-size: initial;
}

.local_storage_button{
  position: absolute;
  top: 36px;
  right: 109px;
  width: min-content;
}

.productsComponent {
  border-style: solid;
  border-color: orange;
  margin: 10px 10px 10px 10px;
  height: fit-content;
  width: 80%;
  float: left;
  display: inline-block;

  /* position: absolute; */
}
.cartComponent{
  border-style: solid;
  border-color: purple;
  margin: 10px 10px 10px 10px;
  height: fit-content;
  width: 20%;
  display: inline-block;

  /* float: left; */
  position: absolute;
}