@import "~antd/dist/antd.css";
/* 
html {
  height: 100%;
} */

.app {
  border-color: green;
  border-style: solid;
  height: 100vh;
  margin: 1%;
  position: relative;
  width: 99%;
}
/* .get_products_button { */
/* position: absolute;
  text-align: center;
  font-style: italic;
  font-family: monospace;
  color: orange;
  top: 13px;
  left: 14px;
  height: 23px;
  width: 110px;
  font-size: initial;
}

.local_storage_button {
  position: absolute;
  top: 36px;
  right: 109px;
  width: min-content;
} */
.notification {
  font-size: 20px;
  color: #2196f3;
}

.productsComponent {
  margin: 1%;
  width: 80%;
  /* display: inline-block; */
  height: 70%;

  display: grid;
  grid-template-rows: 30%30%30%;
}

.cartComponent {
  border-style: solid;
  border-color: purple;
  margin: 1% 1% 1% 0%;
  height: -moz-fit-content;
  height: fit-content;
  /* width: 20%; */
  /* display: inline-block; */
  /* position: absolute; */
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196f3;
  color: #fff;
}
.productANDcartComponents {
  display: grid;
  grid-template-columns: 80%20%;
  gap: 10px;
}
