.productButtons {
  display: flex;
  align-self: center;
}

.productImage {
  height: 20%;
  background-color: "red";
}
.productInShop {
  border-color: blue;
  border-style: solid;
  margin: 1%;
  width: 100%;
  height: 100%;
  font-size: medium;
  text-align: center;
  padding: 1%;
  display: flex;
  flex-direction: column;
}

.productInCart {
  /* display: inline-block; */
  border-color: rgb(0, 204, 255);
  border-style: solid;
  margin: 1%;
  width: auto;
  height: 10%;
  font-size: xx-small;

  text-align: center;
  padding: 1%;
}
